.profile-img {
    width: 100%;
    padding: 0px 30px;
}

.personal-social {
    color: #333;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    svg {
        width: 25px;
        height: 25px;
    }
}